//
//  Secrets.xcconfig
//  ResumeAIApp
//
//  Created by mac on 5/23/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Secrets.xcconfig
SUPABASE_URL=https:/$()/eocldmwhgovgdhuttwgs.supabase.co
SUPABASE_ANON_KEY=sb_publishable_25DHcb2BpSRJWVnNWWETg_LzHFvppL
REVENUECAT_API_KEY=test_fQmhDabrxyXbYQUbgnOZjERQgVe
